body
{
background-color:white;
}

h1
{
color:black;

}

p
{
border: 5px solid black;
}


.real
{
	color:blue;
	text-align:center;
}


.message
{
	color:green;
	border: 5px solid green;
}

#details
{
	color:white;
}

.food
{
text-align:center;
}	

#start
{
	text-align:center;
	background-color:black;
	color:white;
}

.result
{
	background-color:black;
	color:white;
	
}
#number
{
	color:green;
	border:5px solid green;
}